@{
    Page.Title = "Acerca de Panama ";
}

<section id="main">
    <h1>Breve descripción de Carrera  de Panama /h1> 
    <p>
        Carrera autos  Panama le brinda al visitante  diferentes alternativas  de turismos. 
        Tenemos el Canala de Panama,  las playas ,  mujeres y grandes atracciones 
        nocturnas. 
        
        
      
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
