@{
   Page.Title = "Acerca de caca ";
}  



<section id="main">
    <h1>Breve descripción de video  page /h1> 
    <p>
       <link href="main2.css" rel="stylesheet" />

         <video width="320" height="240" controls>
        
              
               <source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video> 

        <h2> mi musica</h2>
<audio controls>
   <source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
   <source src="horse.mp3" type="audio/mpeg">
   Your browser does not support the audio tag.
 </audio> 

        
      
    </p>
</section>
